:root {
    /* colors */
    --body-background: #141515;
    --second-color: #f38a03;
    /* fonts */
    --main-font: 'Montserrat';
    --second-font: sans-serif;
}


.span-ru:hover {
    text-decoration: underline;
}

.span-eng:hover {
    text-decoration: underline;
}

.body__container {
    box-sizing: border-box;
    background-color: var(--body-background);
}

.body__wrapper {
    max-width: 1200px;
    min-width: 375px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (min-width: 769px) {
    .header {
        height: 96px;
    }
}


.logo {
    margin-left: 0.75rem;
    z-index: 2;
}


@media (min-width: 769px) {
    .logo {
        margin-left: 3.125rem;
        z-index: 2;
    }
}

#menu__toggle {
    opacity: 0;
}

#menu__toggle:checked~.menu__btn>span {
    transform: rotate(45deg);
}

#menu__toggle:checked~.menu__btn>span::before {
    top: 0;
    transform: rotate(0);
}

#menu__toggle:checked~.menu__btn>span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
    visibility: visible;
    right: 0;
}

.menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0.75rem;
    right: 1.625rem;
    width: 1.625rem;
    height: 1.625rem;
    cursor: pointer;
    z-index: 1;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #f38a03;
    transition-duration: .25s;
}

.menu__btn>span::before {
    content: '';
    top: -8px;
}

.menu__btn>span::after {
    content: '';
    top: 8px;
}

@media (min-width: 769px) {

    .menu__btn,
    #menu__toggle {
        display: none;
    }
}

.menu__box {
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -100%;
    width: 10.625rem;
    height: 22.1875rem;
    margin: 0;
    padding: 5rem 0;
    list-style: none;
    background-color: inherit;
    box-shadow: 0.0625rem 0 0.375rem rgba(0, 0, 0, .2);
    transition-duration: .25s;
    z-index: 1;

}

@media (min-width: 769px) {
    .menu__box {
        position: absolute;
        display: block;
        width: 60%;
        visibility: initial;
        height: 6rem;
        padding: 0.1875rem;
        right: 0;
        margin-right: 2.5rem;
    }
}

.menu__box ul {
    display: flex;
    flex-direction: column;
    max-width: 72.5rem;
}

@media (min-width: 769px) {
    .menu__box ul {
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
}

.menu-item {
    display: block;
    padding: 0.6rem 1.2rem;
    color: #333;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
}

@media (min-width: 769px) {
    .menu-item {
        padding-left: 0;
        padding-right: 0;
    }
}

.menu-link {
    text-decoration: none;
}

.menu-link:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.menu-link-span::before {
    content: '|';
}

@media (min-width: 769px) {
    .menu-link:hover {
        color: --second-color;
    }
}

.menu-link {
    text-decoration: none;
    font-family: var(--main-font), var(--second-font);
    font-weight: 600;
    font-size: 1.375em;
    color: var(--second-color);
}

@media (min-width: 769px) {
    .menu-link {
        text-decoration: none;
        font-family: var(--main-font), var(--main-font);
        font-weight: 500;
        font-size: 1em;
        color: #FFFFFF;
    }
}

.main-menu {
    position: absolute;
    left: -6.25rem;
    top: 0;
    transition: transform 200ms;
}

.main-menu:target {
    background-color: #18cfab;
}

.main__content {
    background-image: url("../img/9 1.png");
    background-size: cover;
    padding-top: 3.5625rem;
    padding-bottom: 15.4375rem;
    position: relative;
}

.main__content::after {
    position: absolute;
    bottom: -4.0625rem;
    right: 0;
    content: '';
    display: block;
    width: 16.5625rem;
    height: 4.0625rem;
    background-color: #ed1260;
}

@media (min-width: 769px) {
    .main__content {
        max-width: 59.8125rem;
        margin: 0 auto;
        padding-bottom: 16.4375rem;
    }
}

@media (min-width: 1158px) {
    .main__content::after {
        position: absolute;
        top: 0;
        right: -6.25rem;
        content: '';
        display: block;
        width: 6.25rem;
        height: 21.6875rem;
        background-color: #ed1260;
    }
}

.main__content-h1 {
    background-color: var(--body-background);
    font-family: var(--main-font), var(--second-font);
    font-weight: normal;
    font-size: 25px;
    text-align: center;
    color: #FFFFFF;
    width: 10.28rem;
    padding: 1.64rem 0;
    text-transform: uppercase;
    margin: 0 0 0.8rem 0.48rem;
}

@media (min-width: 769px) {
    .main__content-h1 {
        font-size: 32px;
        width: 10.21875rem;
        padding: 1.4375rem 0;
        text-transform: uppercase;
        margin: 0 0 0.625rem 1.375rem;
    }
}

.main__content-h3 {
    background-color: var(--body-background);
    font-family: var(--main-font), var(--second-font);
    font-weight: normal;
    font-size: 1em;
    text-align: center;
    color: #FFFFFF;
    width: 8.1875rem;
    padding: 0.4375rem 0;
    text-decoration: underline;
    margin-left: 4.6875rem;
}

.main__content-link {
    color: white;
}

.main__content-link:hover {
    color: var(--second-color);
}

@media (min-width: 769px) {
    .main__content-h3 {
        font-size: 22px;
        width: 9rem;
        padding: 0.63rem 0;
        margin-left: 5.2rem;
    }
}

.about {
    background-color: var(--body-background);
    padding-top: 2.5rem;
}

.about__text {
    font-family: var(--main-font), var(--second-color);
    font-size: 1em;
    line-height: 1.25rem;
    color: #FFFFFF;
    margin: 3.5625rem;
}

@media (min-width: 769px) {
    .about__text {
        max-width: 957px;
        font-size: 25px;
        margin: 1.48rem auto;
        text-align: left;
    }
}

.card-info {
    min-height: 140px;
    text-align: center;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

@media (min-width: 769px) {
    .card-info {
        width: 30%;
    }
}

.card-info-p {
    font-family: var(--main-font), var(--second-font);
    font-size: 0.875em;
    text-align: center;
    color: #FFFFFF;
}

@media (min-width: 769px) {
    .about-card-p {
        font-size: 18px;
        margin: 1rem auto;

    }
}

.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

@media (min-width: 769px) {
    .card {
        max-width: 957px;
        margin: 0 auto;
    }
}

.address__section {
    padding: 0.8rem 0.6rem 2.4rem;
    background-color: var(--body-background);
}

.address-section-block {
    margin: 0 auto;
    max-width: 570px;
    border: 0.25rem solid #ed1260;
    padding: 0.375rem;
    cursor: pointer;
}

@media (min-width: 769px) {
    .address-section-block {
        border: 0.25rem solid #ed1260;
        padding: 1.6875rem 1.6875rem 1.0625rem 1.0625rem;
    }
}

.map-img {
    width: 100%;
    margin-bottom: 0.625rem;
}

.adress_p {
    font-family: var(--main-font), var(--second-font);
    font-size: 0.750em;
    color: #FFFFFF;
    text-align: center;
}

@media (min-width: 769px) {
    .adress_p {
        font-size: 1.375em;
    }
}

.contacts {
    background-color: var(--body-background);
    border: 0.25rem solid #f38a03;
    padding-top: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 769px) {
    .contacts {
        max-width: 957px;
        margin: 0 auto;
        border: none;
        display: block;
    }
}

.contacts-h3 {
    font-family: var(--main-font), var(--second-font);
    font-style: normal;
    font-weight: 500;
    font-size: 1.250em;
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 1rem;
}

@media (min-width: 769px) {
    .contacts-h3 {
        font-size: 2.813em;
        text-align: left;
        margin-left: 0.4rem;
        margin-bottom: 1.1rem;
    }
}

.contact-text {
    font-family: var(--main-font), var(--second-font);
    font-size: 1.125em;
    color: #FFFFFF;
}

@media (min-width: 769px) {
    .contact-text {
        font-size: 1.375em;
        margin-bottom: 1.375rem;
    }
}

.contact-email {
    display: grid;
    grid-template-columns: 3.125rem 1fr;
    padding-bottom: 1.25rem;
}

.contact-email a {
    text-decoration: none;
}

.contact-tel a {
    text-decoration: none;
}

.contact-location a {
    text-decoration: none;
}

.contact-tel,
.contact-location {
    display: grid;
    grid-template-columns: 2.27rem 1fr;
    padding-bottom: 0.9rem;
}

@media (min-width: 769px) {

    .contact-email,
    .contact-tel,
    .contact-location {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 230px;
    }
}

.conatact-img {
    margin-bottom: 30px;
}

.contact-name {
    display: none;
}

@media (min-width: 769px) {
    .contact-name {
        margin-bottom: 0.6rem;
        display: unset;
        font-family: var(--main-font), var(--second-font);
        font-size: 1.563em;
        color: #FFFFFF;
    }
}

@media (min-width: 769px) {
    .contacts-blocks {
        display: flex;
        justify-content: space-evenly;
    }
}