@import "./vars";

@mixin column($cols: $colums, $margin: 3px) { // через : значение по умолчанию если не задано при вызове
  width: calc(100% / #{$cols} - #{$margin * 2});
}


@mixin socialRound($color) { // через : значение по умолчанию если не задано при вызове
  border: 1px solid $color;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  width: 36px;
}

@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin  margin {
  padding-left: 10px;
  padding-right: 10px;
}

@mixin font-bold {
  font-family: $font;
  font-weight: bold;
}