@import "./vars";
@import "./mixins";

*{
  box-sizing: border-box;
}
.app {
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;
}
.hamburger-menu{
  height: 83px;
}
#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  right: 0;
}

.menu__btn {
  @include flex;
  position: fixed;
  top: 23px;
  right: 0;
  width: 44px;
  height: 37px;
  cursor: pointer;
  z-index: 2;
  background-color: $background-color;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 17px;
  height: 2px;
  background-color: white;
  transition-duration: .25s;
}

.menu__btn > span::before {
  content: '';
  top: -8px;
}

.menu__btn > span::after {
  content: '';
  top: 8px;
}

.menu__box {
  position: fixed;
  visibility: hidden;
  top: 0;
  right: -100%;
  width: 182px;
  margin: 0;
  padding-top: 60px;
  list-style: none;
  transition-duration: .25s;
  z-index: 1;
  background-color: white;

}

.menu__box ul {
  @include flex-column;
}

.menu-item {
  display: block;
  padding: 5px 0 5px 11px;
  line-height: 22px;
  transition-duration: .25s;
  border-bottom: 1px solid rgba(50, 50, 50, 0.15);
}
.menu-link{
  text-transform: uppercase;
  text-decoration: none;
  font-family: $font;
  font-size: 11px;
  color: $color_1;
  display: block;

}
.menu-item:hover .menu-link{
  color: #57A4A4;
}
.menu-item:hover {
  background-color: #F5F5F5;
  margin-left: -2px;
}
.banner-img {
  width: 100%;
  margin-bottom: 38px;
}

.posts-header{
  @include font-bold;
  font-size: 14px;
  line-height: 30px;
  color:$color_1;
  text-transform: uppercase;

}

.card-header{
  @include font-bold;
  font-size: 14px;
  line-height: 30px;
  color:$color_1;
  text-transform: capitalize;
}
.card-coments{
  font-family: $font;
  font-size: 11px;
  line-height: 20px;
  color: #7C7C7C;
}
.card-description{
  font-family: $font;
  font-size: 14px;
  line-height: 26px;
  color: #5C5C5C;
  display: none;
}
.card{
  margin-top: 23px;
}
.cards-block {
  @include flex-column;
  max-height: 650px;
  overflow: hidden;
}
.footer{
  background-color: black;
}
.footer-header{
  @include font-bold;
  font-size: 14px;
  line-height: 22px;
  text-transform: uppercase;
  color: white;
  text-align: center;
}
.footer-header::before{
  content: "- ";
}
.footer-header::after{
  content: " -";
}
.footer-description{
  font-family: $font;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  color: #B9B9B9;
  margin-top: 10px;
  text-align: center;
}
.aditional{
  display: none;
}
.contacts-info{
  font-family: $font;
  font-size: 14px;
  line-height: 24px;
  color: #B9B9B9;
}

.social-rss{
  @include socialRound(orange);
}

.social-facebook{
  @include socialRound(#39599F);
}
.social-twitter{
  @include socialRound(#45B0E3);
}
.social-drible{
  @include socialRound(#D97AB0);
}
.social-pinterest{
  @include socialRound(#CC212C);
}
.social-netw{
  @include flex;
  margin-top: 25px;
  margin-bottom: 25px;
}
.footer {
  @include flex-column;
  padding: 40px;
  margin-top: 30px;
}
.footer .wrapper{
  max-width: 684px;
}
.contacts-info{
  @include flex-column;
}
.adress::after {
  content: "/";
  @include margin;
}
.tel::after {
  content: "/";
  @include margin;
}

@media (min-width: 769px) {

  .menu__box {
    @include flex;
    position: static;
    width: 100%;
    height: 100%;
    padding: 0;
    visibility: visible;


  }
  .menu__btn, #menu__toggle {
    display: none;
  }

  .menu__box ul {
    max-width: 630px;
    height: 100%;
    @include flex-row;
    justify-content: space-between;
    align-items: center;
  }
  .menu-item {
    display: block;
    line-height: 22px;
    border: none;
  }
  .menu-link {
    font-size: 16px;
  }
  .menu-item:hover {
    background-color: unset;
    margin-left: 0;
  }
  .card-description{
    display: unset;
  }

  .cards-block {
    max-height: 700px;
    overflow: hidden;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .card{
    @include flex-row;
    max-width: 550px;
  }
  .card-text-block{
    margin-left: 20px;
  }
  .aditional{
    display: unset;
  }
  .social-netw{
    margin-top: 48px;
    margin-bottom: 48px;
  }
  .footer-description{
    margin-top: 20px;
  }
  .contacts-info{
    @include flex-row;
  }
}
