@import "./vars";
@import "./mixins";

.hamburger-menu{
  height: 83px;
}

#menu__toggle {
  opacity: 0;

}

.menu__spanline {
  transform: rotate(45deg);
}

.menu__spanline::before {
  top: 0;
  transform: rotate(0);
}

.menu__spanline::after {
  top: 0;
  transform: rotate(90deg);
}

.menu__box {
  visibility: visible;
  right: 0;
}

.menu__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 23px;
  right: 0;
  width: 44px;
  height: 37px;
  cursor: pointer;
  z-index: 2;
  background-color: black;
}

.menu__spanline,
.menu__spanline::before,
.menu__spanline::after {
  display: block;
  position: absolute;
  width: 17px;
  height: 2px;
  background-color: white;
  transition-duration: .25s;
}

.menu__spanline::before {
  content: '';
  top: -8px;
}

.menu__btn > span::after {
  content: '';
  top: 8px;
}

.menu__box {
  position: fixed;
  visibility: hidden;
  top: 0;
  right: -100%;
  width: 182px;
  margin: 0;
  padding-top: 60px;
  list-style: none;
  transition-duration: .25s;
  z-index: 1;
  background-color: white;

}

.menu__box ul {
  display: flex;
  flex-direction: column;
}

.menu-item {
  display: block;
  padding: 5px 0 5px 11px;
  line-height: 22px;
  transition-duration: .25s;
  border-bottom: 1px solid rgba(50, 50, 50, 0.15);
}
.menu-link{
  text-transform: uppercase;
  text-decoration: none;
  font-family: $font;
  font-size: 11px;
  color: $color_1;
  display: block;

}
.menu-item:hover .menu-link{
  color: #57A4A4;
}
.menu-item:hover {
  background-color: #F5F5F5;
  margin-left: -2px;
}
.banner-img {
  width: 100%;
  margin-bottom: 38px;
}
@media (min-width: 769px) {

  .menu__box {
    position: static;
    width: 100%;
    height: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
    visibility: visible;


  }
  .menu__btn, #menu__toggle {
    display: none;
  }

  .menu__box ul {
    max-width: 630px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .menu-item {
    display: block;
    line-height: 22px;
    border: none;
  }

  .menu-item:hover {
    background-color: unset;
    margin-left: 0;
  }
}